@import url('https://fonts.googleapis.com/css2? family = Hind: wght @ 500 & display = swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    height: 100%;
}

div#container {
    background-image: url('./imagem/ano-novo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

h1 {
    font-family:'Hind', sans-serif;
    display: block;
    text-align: center;
    margin: auto;
    padding: 15px;
    color: rgb(255, 255, 255);
    background-color: #12121288;
    max-width: 500px;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    list-style: none;
    background-color: #1212127a;
    margin: 8px 3px;
    padding: 5px;
    color: rgb(255, 255, 255);
    max-width: 200px;
    border-radius: 10px;
}

span {
    font-size: 6em;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    list-style: none;
    background-color: #1212127a;
    margin: 3px;
    padding: 5px;
    color: rgb(255, 255, 255);
}

#proxAno {
    font-family:'Hind', sans-serif;
    font-size: 10em;
}

@media (max-width: 750px) {
    
    body {
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    span {
        font-size: 3em;
    }

    #proxAno {
        font-size: 7em;
    }
}